@mixin section {

    display: block;
    margin-top: -75px;
    padding-top: 110px;

}

#servicios, #perfil, #porfolio, #contacto {
    @include section;
}

@mixin buttons ($bg-color, $font-color, $border, $padding) {
    background-color: $bg-color;
    color: $font-color;
    border: $border;
    padding: $padding;
}