section#servicios {
    .servicios__descripcion {
        padding-bottom: 10px;
    }
    
    .servicios__item {
        padding-bottom: 30px;
    }

}

ul {
  li {
      i {
        color: #02d871;
        content: "";
        top: 2px;
        font-size: 20px;
        font-weight: normal;
        font-family: $font-family-icon;
      }
    }
}  

